﻿<%@ WebHandler Language="C#" CodeBehind="PerformanceStatisticHandler.ashx.cs" Class="ControlPanel.Core.PerformanceStatisticHandler" %>
<option value='"+item.Type+"'+","+'"+item.Namespace+"'></option>